@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.aboutMe {
  width: 1400px;
  height: 85vh;
  max-width: 100%;
  margin: 100px auto;

  .contents{
    @include flex($justify: space-between);

    .records{
      @include set-size($w: 35rem);
    }

    .extra{
      @include set-size($w: 26rem);
    }
  }
}