@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.home{
  .section{ height: 100vh ;}
  .center{ 
    @include flex;
    justify-content: center;
  }
  .star_bg{
    position: absolute;
    inset: 0;           // top, right, bottom, left를 모두 0으로 설정
    z-index: -1;

    @include flex;
    justify-content: center;

    >img{
      @include set-size(1400px, auto);
      opacity: 0.9;
    }
  }

  .hero {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    
    @include flex;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    font-family: $font-mona_blod;
    font-size: 7rem;
    color: #f8ff95;
    
    text-shadow: 4px 4px 0px $black;
    -webkit-text-stroke: 2px $black;
  }
  
  .subtitle {
    margin: 0.5rem 0 2.2rem;

    font-family: $font-powerpuff;
    font-size: 5rem;
    color: #ff69b4;

    text-shadow: 5px 8px 0px $black;
    -webkit-text-stroke: 3px $white;
  }
  
  .logo{
    @include set-size(200px, auto);
  }
}