@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.aboutSection {
  @include card-border;
  box-shadow: 4px 4px 4px $black;
  
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    @include flex(center); 
    height: 50px;
    padding: 0 8px;
    border-bottom: 1.5px solid $black;
    background: linear-gradient(to bottom, #fff 0%, #BDD574 80%);

    .title {
      margin-left: 10px;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
  
  .contentBox{
    flex: 1;
    @include flex(center); 
    overflow-y: auto;

    .content {
      font-family: var(--font-pretendard);
      padding: 2.5rem 0;
    }
  }
}