@use '../../../styles/mixins' as *;
@use '../../../styles/variables' as *;

.idCard{
  .profileImage{
    @include set-size(10rem, auto);
    @include card-border;
    box-shadow: 4px 4px 3px $black;
  }

  .info{
    margin-top: 20px;
    >h2{
      font-size: 1.8rem;
      font-family: var(--font-mona12);
      margin: 1.5rem 0 0.75rem
    }
    >p{
      margin: 0.4rem 0; 

      &::before{
        content: "> ";
        font-family: var(--font-mona12);
      }
    }
  }
}