@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.mouseButton{
  @include flex();
  flex-direction: column;

  position: absolute;
  left: 50%; bottom: 5%;
  transform: translateX(-50%);   
  z-index: 10;

  cursor: pointer;
  .mouseBody {
    width: 1.7rem;
    height: 2.5rem;

    border: 2px solid $white;
    border-radius: 13px 13px 20px 20px;
    background-color: transparent;

    @include flex(center); 
    position: relative;

    .scrollBall {
      width: 0.1875rem;
      height: 0.625rem;

      background-color: $white;
      border-radius: 0.125rem;

      position: absolute;
      bottom: 0.5625rem;
      animation: move_918 1.5s linear infinite;
    }
  }

  .label {
    margin-top: 5px;
    font-size: 20px;
    color: $white;
  }

}

@keyframes move_918 {
  0%   { bottom: 0.5625rem; }
  50%  { bottom: 0.3125rem; }
  100% { bottom: 0.5625rem; }
}