@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.corner_TL, .corner_BL, .corner_TR, .corner_BR {
  @include set-size(350px, auto);
  position: fixed;
  z-index: -1;
}

.corner_TL { top: 0; left: 0; }
.corner_BL { bottom: 0; left: 0; }
.corner_TR { top: 0; right: 0; }
.corner_BR { bottom: 0; right: 0; }