@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.btnBox {
  width: 34.125rem;
  height: 4.8125rem;
  
  background: linear-gradient(to bottom, #fff 0%, #BDD574 80%);
  @include card-border;
  box-shadow: 4px 4px 3px $black;

  @include flex(center); 

  &:active {
    @include pressed;
  }

  .btn {
    font-size: 2.1875rem;
  }  
}