@use './variables' as *;


@mixin set-size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

// boder
@mixin card-border($radius: 1rem, $width: 0.09375rem){
  border: $width solid $black;
  border-radius: $radius;
}

//
@mixin pressed($depth: 4px) {
  transform: translateY($depth);
  box-shadow:
    inset 0 $depth 6px rgba(0, 0, 0, 0.5),
    2px 2px 3px $black;
}

// ...
@mixin ellipsis($lines: 1) {
  overflow: hidden;

  @if $lines == 1 {
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    
    line-clamp: $lines;
    -webkit-line-clamp: $lines;
  }
}

// img
@mixin img_layout {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// flex
@mixin flex($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin footer_before{
  padding-right: 6px;
  display: inline-block;
  vertical-align: middle;
}

@mixin Glassmorphism1{
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@mixin Glassmorphism2{
  border: 1px solid rgba(255, 255, 255);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}