// ======================
// ========color=========
// ======================

// * basic color
$black: #1A1A1A;
$fontgray: #555;
$white: #fff;
$gray: #8E8E93;
$lightgray: #D9D9D9;

// * point color 
$button: rgba(255, 228, 242, 0.5);
$blue: #058CD7;
$orange: #FF8C42;

// ======================
// =========font=========
// ======================

$font-mona: var(--font-mona10x12);
$font-mona_blod: var(--font-mona10x12-bold);
$font-powerpuff: var(--font-powerpuff);
$font-pretendard-regular: var(--font-pretendard-regular);
$font-pretendard-sembold: var(--font-pretendard-sembold);
$font-pixel: var(--font-mona12);

// ======================
// ======font size=======
// ======================

$bigTitle: 60px;
$title: 40px;
$subTitle: 26px;
$regular: 16px;

// ======================
// ========radius========
// ======================

$radius: 20px;
$radius10: 10px;

// ======================
// =====line-height======
// ======================

$lineHeight1: 120%;
$lineHeight2: 140%;

$paddingForNavbar: 50px;
