@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.background {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  
  background-image: url('/images/bg/background.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
}